[submodule "birthday-service"]
	path = birthday-service
	url = https://github.com/yarinBenisty/birthday-service
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/yarinBenisty/api-gateway
[submodule "birthday-ui"]
	path = birthday-ui
	url = https://github.com/yarinBenisty/birthday-ui